@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
$body-color: #1F2E35;
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  background-color: $body-color;
  color: #fff;
  font-family: 'Poppins', sans-serif;
}
img {
  object-fit: cover;
  width: 30px;
}
li {
  list-style: none;
}
a {
  cursor: pointer;
  text-decoration: none;
}
i {
  font-size: 1.5rem;
}
.exmple {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}